@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin-top: -100px;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

.bot-response-container {
  img {
    cursor: pointer;
  }
}

a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}