@import "vars";

.message-input-container {
  height: $message-input-height;
  overflow: hidden;
}

.ui.input.message-input input {
  border-color: #1446a2;
  border-radius: 50px;
  color: #1446a2;
  padding: 22px 28px;
  font-size: 14px;

  &::placeholder {
    color: #1446a2;
  }
}

.ui.button.message-send {
  position: absolute;
  top: 0;
  right: 28px;
  bottom: 0;
  background-color: transparent;
  background-position: center center;
  background-image: url("../gfx/send-button.png");
  background-repeat: no-repeat;
  width: 30px;
}

.global-quick-responses {
  text-align: center;
}

.ui.button.global-quick-responses-open,
.ui.button.global-quick-response,
.ui.button.restart-conversation {
  color: #4ec9f5;
  background: #fff;
  display: inline-block;

  &:hover {
    color: #1056d6;
  }

}

.powered-by {
  color: #aeb3d0;
  float: right;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    color: #aeb3d0;
  }
}